<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RunMode" value="Debug"/>
  </appSettings>
  <connectionStrings>
    <add name="Default.RELEASE" connectionString="Server=localhost;Database=release;Uid=root;Pwd="/>
    <add name="Default.DEBUG" connectionString="Server=localhost;Database=wpf;Uid=root;Pwd="/>
  </connectionStrings>
</configuration>
